*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background: linear-gradient(rgba(0,8,51,0.9),rgba(0,8,51,0.9)), url(ui/images/background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .search{
    max-width: 900px;
    text-align: center;
}

.banner .search h2{
    font-size: 5em;
    color: #fff;
}

.banner .search p{
    font-size: 1em;
    color: #fff;
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder{
    color: #cac7ff;
}

.search-bar button img{
    width: 25px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;

}

section {
    padding: 100px;
}

.titleText {
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.titleText span{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
